@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #F9BFBD;
}

.wrapper {
    width: 60%;
    font-size: 16px;
    max-width: 43.753m;
    margin: 1em auto;
}

.container {
    width: 100%;
}

.sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h3 {
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}

.container input:focus {
    border-color: #363d55;
}

.total-amount-container, .user-amount-container {
    background: #fff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.output-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.output-container {
    width: 60%;
    background-color: #89C8AD;
    color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
}

.output-container p{
    font-weight: 500;
    margin-bottom: 0.6em;
}

.output-container span{
    display: block;
    text-align: center;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.output-container span:before{
    content: "$";
    position: relative;
    left: -.05em;
  }

.submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #89C8AD;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}

.list {
    background-color: #fff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
}

.sublist-content {
    width: 100%;
    border-left: 0.4em solid ;
    margin-bottom: 0.6em;
    padding: 0.5em 1em;
    display: grid;
    /* grid-template-columns: 3fr 2fr 1fr 1fr; */
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
}

.product {
    font-weight: 500;
    color: #363d55
}

.amount{
    color: #414a67;
    margin-left: 10%;
}

.icons-container{
    width: 5em;
    margin: 1.2em;
    align-items: center;
}

.product-title{
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.error{
    color: #C8221A;
}

.edit{
    margin-left: auto;
}

.edit {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #89C8AD;
}

.delete {
    background: transparent;
    cursor: pointer;
    margin-right: -0.5em;
    border: none;
    color: #DA6B71;
}

#myChart {
    display: block;
    margin: 0 auto 2em auto;
    width: 400px;
    height: 400px;
    
}



@media screen and (max-width: 1000px) {
    .wrapper{
        width: 75%
    }
}

@media screen and (max-width: 750px) {
    .wrapper{
        width: 85%
    }
}

@media screen and (max-width: 600px) {
    .wrapper{
        font-size: 14px;
        width: 90%;
    }

    .sub-container{
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .output-container {
        width: 80%;
    }

    .submit-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}